.diagramNode {
  min-height: 50px;
}

.diagramNode-header {
  background-color: rgb(45, 204, 205);
  color: white;
  display: flex;
  padding: 5px;
}

.diagramNode-body {
  padding: 5px;
  text-align: center;
}
